BOT_TOKEN=
ADMIN_IDS=
ENV=dev
LOG_FILE_NAME=logs/bot.log

LOG_FORMAT="%(asctime)s [%(levelname)s] %(name)s: %(message)s"
DATE_FORMAT="%Y-%m-%d %H:%M:%S"

USER_FILE_PATH=storage/users.json

# FAN MODE
FUN_MIN_INTERVAL=1800          # 30 мин
FUN_MAX_INTERVAL=5400          # 90 мин
FAN_COOLDOWN_SECONDS=1200      # 20 мин между сообщениями одному пользователю
FUN_DAILY_LIMIT=6              # до 6 в сутки
FAN_TEST_FORCE_SEND=0          # 1 = форсить отправку в каждом цикле (для теста)

